<!-- <div class="wrapper">
  <div class="content-wrapper"> -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-left">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" value="Hemoglobina especifica"
                                aria-describedby="nombre">
                            <small id="nombre" class="form-text text-muted">
                                Escriba el nombre del examen
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="edadini">Edad inicial</label>
                            <input type="text" class="form-control" id="edadini" value="8" aria-describedby="edadini">
                            <small id="edadini" class="form-text text-muted">
                                Escriba la edad inicial
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="edadfinal">Edad final</label>
                            <input type="text" class="form-control" id="edadfinal" value="15"
                                aria-describedby="edadfinal">
                            <small id="edadfinal" class="form-text text-muted">
                                Escribe la edad final
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" value="Portatil Lenovo"
                                aria-describedby="nombre">
                            <small id="nombre" class="form-text text-muted">
                                Escribe el nombre del producto
                            </small>
                        </div>

                        <div class="mb-3 text-left">
                            <label for="">Sexo</label>
                            <select name="red_id" id="red_id" class="form-control">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="unidadmed">Unidad Medida</label>
                            <input type="text" class="form-control" id="unidadmed" value="gl"
                                aria-describedby="unidadmed">
                            <small id="unidadmed" class="form-text text-muted">
                                Escribe la unidad de medida
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="rangoini">Rango Inicial</label>
                            <input type="text" class="form-control" id="rangoini" value="157.00"
                                aria-describedby="rangoini">
                            <small id="rangoini" class="form-text text-muted">
                                Escribe el rango inicial
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="rangofinal">Rango final</label>
                            <input type="text" class="form-control" id="rangofinal" value="289.00"
                                aria-describedby="rangofinal">
                            <small id="rangofinal" class="form-text text-muted">
                                Escribe el rango final
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="servicio">Nombre Servicio</label>
                            <input type="text" class="form-control" id="servicio" value="Citoquímico de cualquier fluido (pleural, LCR, peritoneal, etc)"
                                aria-describedby="servicio">
                            <small id="servicio" class="form-text text-muted">
                                Escribe el nombre del servicio
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="tipo">Tipo</label>
                            <input type="text" class="form-control" id="tipo" value="ANÁLISIS DE OTROS FLUIDOS CORPORALES"
                                aria-describedby="tipo">
                            <small id="tipo" class="form-text text-muted">
                                Escribe el tipo
                            </small>
                        </div>

                        <div class="mb-3">
                            <button routerLink="/examen" class="btn btn-secondary btn-lg float-start">
                                Volver
                            </button>
                            <button type="submit" class="btn btn-success btn-lg float-end">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- </div>
      </div> -->