<!-- <div class="wrapper">
  <div class="content-wrapper"> -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center">
            <div class="mb-3 text-left">
              <label for="">Nombre</label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Nombre del examen"
              />
            </div>
            <div class="mb-3 text-left">
              <label for="">Edad inicial</label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Edad Inicial"
              />
            </div>
            <div class="mb-3 text-left">
              <label for="">Edad final</label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Edad Final"
              />
            </div>
            <div class="mb-3 text-left">
              <label for="">Sexo</label>
              <select name="red_id" id="red_id" class="form-control">
                <option value="red->id}}">Masculino</option>
                <option value="red->id}}">Femenino</option>
              </select>
            </div>
            <div class="mb-3 text-left">
              <label for="">Unidad de medida</label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Unidad de medida"
              />
            </div>
            <div class="mb-3 form-group text-left">
              <label for="" class="text-left">Rango inicial</label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Rango inicial"
              />
            </div>

            <div class="mb-3 text-left">
              <label for="">Rango final</label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Rango final"
              />
            </div>

            <div class="mb-3 text-left">
              <label for="">Nombre del servicio</label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Nombre del servicio"
              />
            </div>

            <div class="mb-3 text-left">
              <label for="">Tipo</label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Tipo de analisis"
              />
            </div>

            <div class="mb-3">
              <button
                routerLink="/examen"
                class="btn btn-secondary btn-lg float-start"
              >
                Volver
              </button>
              <button type="submit" class="btn btn-success btn-lg float-end">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- </div>
</div> -->
