<div class="wrapper">
    <div class="content-wrapper">


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">





                        <div class="card">
                            <div class="card-header">
                                <h2>Lista de Ordenes de servicio</h2>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Servicio </th>
                                                <th scope="col"> Paciente</th>
                                                <th scope="col">Fecha_solicitud</th>


                                                <th scope="col"> Accion</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Citoquímico de cualquier fluido (pleural, LCR, peritoneal, etc)</td>
                                                <td>Pedro Veizaga
                                                    Cabrera</td>
                                                <td> 2021/12/03</td>

                                                <td><button type="button" class="btn btn-outline-success"
                                                        routerLink="/informacion">Informacion</button><button
                                                        type="button" style="margin-left: 18px;"
                                                        class="btn btn-outline-danger">Eliminar</button></td>

                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Citograma nasal</td>
                                                <td>Pedro Veizaga
                                                    Cabrera</td>
                                                <td> 2021/12/03</td>

                                                <td><button type="button" class="btn btn-outline-success"
                                                        routerLink="/informacion">Informacion</button><button
                                                        type="button" style="margin-left: 18px;"
                                                        class="btn btn-outline-danger">Eliminar</button></td>


                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Estudio morfológico en médula ósea</td>
                                                <td>Pedro Veizaga
                                                    Cabrera</td>
                                                <td>2021/12/03</td>

                                                <td><button type="button" class="btn btn-outline-success"
                                                        routerLink="/informacion">Informacion</button><button
                                                        type="button" style="margin-left: 18px;"
                                                        class="btn btn-outline-danger">Eliminar</button></td>


                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Citograma nasal</td>
                                                <td>noemi chana
                                                    ch</td>
                                                <td>2022/03/25</td>
                                                <td><button type="button" class="btn btn-outline-success"
                                                        routerLink="/informacion">Informacion</button><button
                                                        type="button" style="margin-left: 18px;"
                                                        class="btn btn-outline-danger">Eliminar</button></td>


                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Estudio morfológico en médula ósea</td>
                                                <td> noemi chana
                                                    ch</td>
                                                <td>2022/03/25</td>


                                                <td><button type="button" class="btn btn-outline-success"
                                                        routerLink="/informacion">Informacion</button><button
                                                        type="button" style="margin-left: 18px;"
                                                        class="btn btn-outline-danger">Eliminar</button></td>



                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>Citograma nasal</td>

                                                <td>Pedro Veizaga
                                                    Cabrera</td>
                                                <td>2022/03/29</td>

                                                <td><button type="button" class="btn btn-outline-success"
                                                        routerLink="/informacion">Informacion</button><button
                                                        type="button" style="margin-left: 18px;"
                                                        class="btn btn-outline-danger">Eliminar</button></td>


                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>Estudio morfológico en meduula osea</td>

                                                <td>Pedro Veizaga
                                                    Cabrera</td>
                                                <td>2022/03/29</td>

                                                <td><button type="button" class="btn btn-outline-success"
                                                        routerLink="/informacion">Informacion</button><button
                                                        type="button" style="margin-left: 18px;"
                                                        class="btn btn-outline-danger">Eliminar</button></td>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</div>