<div class="container mt-5">
    <div class="row">
        <div class="col-lg6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> Crear Paciente</span>
                        <form class="mt-3">
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Carnet">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Nombre">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Apellido Paterno">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Apellido Materno">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Fecha de Nacimiento">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Edad">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Sexo">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Direccion">
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>