<div class="wrapper">

    <div class="content-wrapper">


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">


                        <div class="card">
                            
                            <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre del paciente :</th>
                                        
                                 
                                    </tr>
                                </thead>
                            </table>
                            </div>
                        </div>

                        <div class="card">
                            
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">SERVICIO </th>
                                                <th scope="col">EXAMEN </th>
                                                <th scope="col"> REFERENCIA</th>
                                                <th scope="col">RESULTADO</th>
                                                <th scope="col">FECHA</th>



                                                <th scope="col"> ACCION</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Citograma nasal</td>
                                                <td>hemoglobina especificada</td>
                                                <td> gl 157.00-289.00</td>
                                                <td></td>
                                                <td>2022/03/25</td>

                                                <td>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                                                Editar
                                                  </button>


                                            </tr>

                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Citograma nasal</td>
                                                <td>heoglobina compuesta</td>
                                                <td>gml 1057.00-2089.00</td>
                                                <td></td>
                                                <td>2022/03/25</td>
                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                                                    Editar
                                                      </button>
                                                    </td>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Rgistro de Resultado</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <form action="" method="post">
            <div class="form-group">
                <textarea name="" id="" cols="60" rows="5" class="form-control" style="background: rgba(132,139,200,0.18);"></textarea>
            </div>
           
        </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Enviar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>