<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Crear Paciente</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form>
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su nombre por favor">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Apellido Paterno</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su apellido paterno">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Apellido Materno</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su apellido materno">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Fecha de nacimiento</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese fecha de nacimiento">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Edad</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese edad">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Sexo</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el genero">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Direccion</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese direccion">
      </div>
      
      
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>