<!-- <div class="content-wrapper"> -->
  <div class="card bg-white">
    <div class="card-body">
      <span class="titulo">Listado de Orden Laboratorio</span>
      <button routerLink="/crear-orden" class="btn btn-success float-end">
        Nuevo
      </button>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID Orden</th>
            <th>Nompre Paciente</th>
            <th>EDAD</th>
            <th>CI</th>
            <th>SERVICIO</th>
            <th>Fecha</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orden of ordenArray">
            <td>{{orden.id}}</td>
            <td>{{ orden.cliente }}</td>
            <td>{{ orden.edad }}</td>
            <td>{{ orden.ci }}</td>
            <td>{{ orden.servicio }}</td>
            <td>{{ orden.fecha }}</td>

            <td width="10px">
              <a routerLink="/orden-servicio" class="btn btn-success">info</a>
              <a class="btn btn-primary">eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- </div> -->
