<div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Prueba2</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
      *Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste facere harum accusantium totam suscipit nulla culpa tempore labore voluptatum porro, sapiente repellat, ratione consectetur, laborum illo deleniti commodi! Ab, vitae.
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Orden</th>
                    <th> Nompre Paciente</th>
                    <th>Email</th>
                    <th>Medico</th>
                    <th>Fecha</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>1</td>
                        <td>paciente($orden->paciente_id)->nombre
                        <br>paciente($orden->paciente_id)->paterno
                        <br>paciente($orden->paciente_id)->materno</td>
                        <td>user(paciente($orden->paciente_id)->user_id)->email</td>
                        <td>Dr(a):medico($orden->medico_id)->nombre</td>
                        <td>$orden->fecha</td>
                        <td>$orden-></td>
                        <td>$orden-></td> 
                        <td width="10px">
                            <a class="btn btn-success" >Imprimir</a>    
                            <a class="btn btn-primary" >Mas info</a>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>