<div class="card">
  <div class="card-header">
    <h3 class="card-title">Usuarios</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fas fa-times"></i></button>
    </div>
  </div>
  <div class="card-body">

    <div class="card-header">
      <a class="btn btn-primary" href="#"> Agregar paciente</a>            
   </div>
        
          <table
            
            class="table table-striped mt-6"
          >
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Edad</th>
                <th scope="col">Sexo</th>
                <th scope="col">Direccion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of listPaciente">
                <td>Luis Beltran</td>
                <td>Condori</td>
                <td>Cano</td>
                <td>07/04/1989</td>
                <td>35</td>
                <td>Masculino</td>
                <td>Barrio Guadalupe II</td>
                <td></td>
                <td>
                  <i
                    [routerLink]="['/editar-paciente', paciente._id]"
                    class="fa-solid fa-pen-to-square text-primary"
                  ></i>
                  <i
                    (click)="eliminarPaciente(paciente._id)"
                    class="fa-solid fa-trash text-danger"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 style="text-align: start; margin-top: 10px">
            No hay pacientes para mostrar
          </h5>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>