<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de Pacientes</span>
                    <button class="btn btn-success float-end" >Nuevo</button>
                    <!-- routerLink="/crear-paciente" -->



                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Fecha de Nacimiento</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Luis Beltran</td>
                            <td>Condori</td>
                            <td>Cano</td>
                            <td>07/04/1984</td>
                            <td>37</td>
                            <td>Masculino</td>
                            <td>Calle Mangales</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                                
                            </td>
                          </tr>
                          <tr>
                            <td>Luis Fernando</td>
                            <td>Guardia</td>
                            <td>Cano</td>
                            <td>07/04/1984</td>
                            <td>37</td>
                            <td>Masculino</td>
                            <td>Calle Mangales</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                                
                            </td>
                          </tr>
                          <tr>
                            <td>Aracely</td>
                            <td>Condori</td>
                            <td>Guardia</td>
                            <td>07/04/1984</td>
                            <td>37</td>
                            <td>Masculino</td>
                            <td>Calle Mangales</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                                
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>