<div class="wrapper">
  <div class="content-wrapper">


    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">


            <div class="card">
              <div class="card-body">
                <h3>Registrar Laboratorista</h3>
                <button class="btn btn-primary">Registrar laboratorista</button>
                <button class="btn btn-outline-danger">Eliminar Registros</button>
                <div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Carnet de Identidad</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Seleccionar</th>
                        <th scope="col">*</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>9781546</td>
                        <td>Marcelo Pilco</td>
                        <td>14/10/1978</td>
                        <td>M</td>
                        <td>Calle Venezuela</td>
                        <td><input type="checkbox" value="" /></td>
                        <td>
                          <button class="btn btn-outline-secondary">Editar</button>
                        </td>
                      </tr>
                      <tr>
                        <td>9581654</td>
                        <td>Ricardo Pinos</td>
                        <td>01/11/1998</td>
                        <td>M</td>
                        <td>Calle Aroma</td>
                        <td><input type="checkbox" value="" /></td>
                        <td>
                          <button class="btn btn-outline-secondary">Editar</button>
                        </td>
                      </tr>
                      <tr>
                        <td>9842181</td>
                        <td>Sandra Alondra</td>
                        <td>10/01/1986</td>
                        <td>F</td>
                        <td>Calle Altamar</td>
                        <td><input type="checkbox" value="" /></td>
                        <td>
                          <button class="btn btn-outline-secondary">Editar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
  </div>
</div>