<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">"Sistema de Órdenes de Laboratorio"</h1>
        </div>
        <!-- /.col -->

        <!-- <button class="btn btn-primary"> Holo!</button> -->

        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <!-- /.content -->
  <!-- <div class="container-wrapper">
    <div class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
               <app-laboratorista></app-laboratorista>

            <div class="card-header">
              <div class="card-body">
                <div class="dataTables_wrapper">
                  <h3>Aquí debería ir el contenido</h3>
                  <app-laboratorista></app-laboratorista>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<!-- /.content-wrapper -->
