<div class="wrapper">
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h3>Servicios de Salud</h3>
                <button class="btn btn-primary">
                  Registrar Servicio de Salud
                </button>
                <div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nombre de Servicio</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Financiamiento</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">*</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Citoquímico de cualquier fluido (pleural, LCR,
                          peritoneal, etc)
                        </td>
                        <td>30.00</td>
                        <td>II y III Nivel</td>
                        <td>SUS</td>
                        <td>ANÁLISIS DE OTROS FLUIDOS CORPORALES</td>
                        <td>
                          <button class="btn btn-outline-secondary">
                            Editar
                          </button>
                          <button class="btn btn-outline-danger">
                            Eliminar
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Estudio anatomopatológico de cualquier pieza</td>
                        <td>100.00</td>
                        <td>III Nivel</td>
                        <td>SUS</td>
                        <td>ANATOMOPATOLOGÍA</td>
                        <td>
                          <button class="btn btn-outline-secondary">
                            Editar
                          </button>
                          <button class="btn btn-outline-danger">
                            Eliminar
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Tinción papanicolau</td>
                        <td>28.00</td>
                        <td>II y III Nivel</td>
                        <td>SUS</td>
                        <td>ANATOMOPATOLOGÍA</td>
                        <td>
                          <button class="btn btn-outline-secondary">
                            Editar
                          </button>
                          <button class="btn btn-outline-danger">
                            Eliminar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

