
  <div class="card">
    <div class="card-body">
      <h3>Servicios de Salud</h3>
      <button class="btn btn-primary">Registrar Servicio de Salud</button>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre de Servicio</th>
              <th scope="col">Precio</th>
              <th scope="col">Nivel</th>
              <th scope="col">Financiamiento</th>
              <th scope="col">Tipo</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Citoquímico de cualquier fluido
              </td>
              <td>30.00</td>
              <td>II y III Nivel</td>
              <td>SUS</td>
              <td>ANÁLISIS DE OTROS FLUIDOS CORPORALES</td>
              <td>
                <i
              
                  class="fa-solid fa-pen-to-square text-primary btn-lg"
                ></i>
                <i
              
                  class="fa-solid fa-trash text-danger btn-lg"
                ></i>
              </td>
            </tr>
            <tr>
              <td>Estudio anatomopatológico de cualquier pieza</td>
              <td>100.00</td>
              <td>III Nivel</td>
              <td>SUS</td>
              <td>ANATOMOPATOLOGÍA</td>
              <td>
                <i
              
                  class="fa-solid fa-pen-to-square text-primary btn-lg"
                ></i>
                <i
              
                  class="fa-solid fa-trash text-danger btn-lg"
                ></i>
              </td>
            </tr>
            <tr>
              <td>Tinción papanicolau</td>
              <td>28.00</td>
              <td>II y III Nivel</td>
              <td>SUS</td>
              <td>ANATOMOPATOLOGÍA</td>
              <td>
                  <i
                
                    class="fa-solid fa-pen-to-square text-primary btn-lg"
                  ></i>
                  <i
                
                    class="fa-solid fa-trash text-danger btn-lg"
                  ></i>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

